@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Six+Caps&display=swap');

.header {
	font-family: "Six Caps";
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	color: white;
	background-color: rgba(0, 0, 0, 0.1);
	
	grid-row: 1;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.header h2 {
	margin: 0;
}




