

.peramsDiv {
margin-top: 150px;
margin-left: 2px;
margin-bottom: 1rem;

}

.form {
    margin-top: -18px;
margin-bottom: 10px;
margin-left: 2px;
}
.radioDiv {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
;
}



.radioButtons {
    
    opacity: 0;
    width: 0;
}

.radioLabels:focus {

    background-color: black;

}