.pokeList {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    
    margin-top: 150px;
    margin-left: 20rem;
    padding-left: 4rem;
    float: right;
}

.pokeItemLink:link {
    text-decoration: none;
    color: black;
}

.pokeItemLink:visited {
    color:grey;
}